@tailwind base;
@tailwind components;
@tailwind utilities;

.blink-animation {
  animation: blink 2s infinite;
  margin-bottom: 22px;
  transform: translateX(-10px);
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}